/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  background: #eb5123;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 1;
  top: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 0.5px;
  margin-right: 60px;
}

.navItems ul li a {
  color: #fff;
  text-decoration: none;
}

.navItems ul li a:hover {
  text-decoration: underline;
}

.navItems ul li a:active {
  text-decoration: underline;
  color: #fff;
}

/* Cart */

.cart-icon {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 44px;
  padding: 2px 8px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* Cart Icon */
.shopping-bag {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 22q-.825 0-1.412-.587T4 20V8q0-.825.588-1.412T6 6h2q0-1.65 1.175-2.825T12 2t2.825 1.175T16 6h2q.825 0 1.413.588T20 8v12q0 .825-.587 1.413T18 22zm4-16h4q0-.825-.587-1.412T12 4t-1.412.588T10 6m5 5q.425 0 .713-.288T16 10V8h-2v2q0 .425.288.713T15 11m-6 0q.425 0 .713-.288T10 10V8H8v2q0 .425.288.713T9 11'/%3E%3C/svg%3E");
  background-color: #fff;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* Mini Cart */
.cart-container {
  position: relative;
}

.cart-icon {
  cursor: pointer;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #f5f6f1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.cartModelContent {
  padding: 20px;
}
.cartModelContent h2 {
  font-family: 'Paytone One';
  color: #1a1a1a;
  font-size: 28px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
p.emptyCart {
  font-family: 'Poppins';
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.cartItem {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.cartItem img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 10px;
}

.cartItemDetails {
  flex-grow: 1;
}

.cartItemDetails h3 {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  margin-bottom: 4px;
}

.cartItemDetails p {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0;
}

.quantityControls {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.quantityControls button {
  background-color: #f0f0f0;
  border: none;

  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.quantityControls span {
  font-family: 'Poppins';
  font-size: 14px;
  color: #383838;
  margin: 0 10px;
}

button.cartRemove {
  font-family: 'Poppins';
  font-size: 14px;
  color: #383838;
  border-radius: 8px;
  padding: 8px 8px;
  border: none;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* Trash Icon */
.removeItemIcon {
  display: inline-block;
  width: 18px;
  height: 18px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3'/%3E%3C/svg%3E");
  background-color: #383838;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.cartTotal {
  margin-top: 20px;
  text-align: right;
}

.cartTotal h3 {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}

.viewCartBtn {
  display: block;
  width: -webkit-fill-available;
  padding: 12px 20px;
  border-radius: 50px;
  background-color: #eb5123;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

/* Animation Mini-Cart View */

.cart-modal {
  position: fixed;
  top: 0;
  right: -300px; /* Start off-screen */
  bottom: 0;
  width: 300px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
  transition: right 0.3s ease-in-out; /* Add transition for smooth animation */
}

.cart-modal.open {
  right: 0; /* Slide in to visible area */
}

/* Add an overlay */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999;
}

.cart-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* small cart */
.cartItem img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
  background: #7cb0e0;
  border-radius: 20px;
  border: 1px solid rgb(0 0 0 / 80%);
}
